html * {
	margin: 0;
	/*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
	font-family: Helvetica, sans-serif;
}

body {
	background-color: .050505;
	height: 100%;
	color: .FFF;
}

.headline {
	position: fixed;
	top: 0;
	left: 0;
	background-color: .222;
	border-bottom: 1px solid .555;
	height: 30px;
	color: .FFF;
	width: 100%;
	vertical-align: middle;
	z-index: 50;
	opacity: 0.5;
}

.headline div {
	display: inline-block;
	height: 100%;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
	opacity: 1.0;
}


.left {
	float: left;
	margin-left: 5px;
}

.middle {
	left: 200px;
	position: absolute;
}

.right {
	float: right;
	margin-right: 5px;
}

.title {
	border-left: 1px solid .555;
	padding-left: 5px;
}

.boxed {
	border: 1px solid .888;
}

.body {
	right: 0;
	top: 33px;
}

.body img {
	position: absolute;
	padding: 2px;
}

.big {
	width: 58%;
}

.small {
	width: 25%;
}

.x0 { /* keinen abstand von links */
	
}

.x1 {
	left: 20%;
}

.x2 {
	left: 40%;
}

.x3 {
	left: 60%;
}

.y0 {
	top: 20px;
}

.y1 {
	top: 300px;
}

.y2 {
	top: 600px;
}

table {
	border: 0;
	padding: 0;
	margin: 0;
}

tbody {
	padding: 0;
	margin: 0;
}

td {
	padding: 0;
	margin: 0;
}

tr {
	padding: 0;
	margin: 0;
}

.calspace .today {
	width: 200px;
	height: 200px;
	font-size: 10em;
	vertical-align: middle;
	color: .000;
	margin-left: 0ex;
}

.calspace {
	background-color: .333;
	border-top: 1px solid .555;
	bottom: 0;
	color: .FFF;
	height: 150px;
	position: fixed;
	width: 100%;
	opacity: 0.5;
}

.calspace div,.calspace p {
	display: inline-block;
	margin-left: 0.5ex;
}

.timeline {
	color: .999;
	heigtht: 200px;
	left: 200px;
	font-size: 2em;
}

.calSpace div.today {
	color: .FFF;
	font-size: 2em;
	font-weight: bolder;
}

.hasEvent {
	color: .FFF;
	font-size: 2em;
}

p div {
	display: inline;
}